name: github pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Build
        uses: ammaraskar/sphinx-action@master
        with:
          pre-build-command: python -mpip install sphinx-rtd-theme
          docs-folder: "docs/"

      - name: Ship firmware.conf
        run:
          sudo cp firmware.conf docs/_build/html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
          force_orphan: true
